<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
									  	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.himedia.springboot.MenuDAO">
<insert id="insert" parameterType="java.util.HashMap">
	insert into menu set name=#{param1}, price=#{param2}
</insert>
<select id="select" resultType="com.himedia.springboot.MenuDTO">
	select seq, name, price from menu order by seq
</select>
<delete id="delete1">
	delete from menu where seq = #{param1}
	ALTER TABLE menu AUTO_INCREMENT = 1;
	SET @COUNT = 0;
	UPDATE menu SET seq = @COUNT := @COUNT + 1;
</delete>
<delete id="delete" parameterType="java.util.HashMap">
	delete from menu where seq = #{param1};
	ALTER TABLE menu AUTO_INCREMENT = 1;
	SET @COUNT = 0;
	UPDATE menu SET seq = @COUNT := @COUNT + 1;
</delete>
<update id="update" parameterType="java.util.HashMap">
	update menu set name=#{param2}, price=#{param3} where seq=#{param1}
</update>
</mapper>						  	  